@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

body {
    margin: 0;
    padding: 0;
    background: border-box;
    font-family: 'Poppins';
}
h1, h2, h3 {
    color: hsl(192, 100%, 9%);
}
#first {
    background-color: hsl(193, 100%, 96%);
    background-image: url(images/bg-hero-mobile.svg);
    height: 185vw;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw;
}
.try-it {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vw;
    width: 30vw;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 23px -8px rgba(66, 68, 90, 1);
}
.try-it > p {
    font-size: 12px;
    font-weight: 700;
}
#huddle {
    height: 5vw;
}
.container {
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.container > h1 {
    margin: 0px 30px 0px 30px;
    font-size: 24px;
    font-weight: 600;
}
.container > p {
    margin: 20px 24px 20px 24px;
}
.container > img {
    height: 85%;
    width: 85%;
}
.get-started {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
    width: 60vw;
    background-color: hsl(322, 100%, 66%);
    border-radius: 30px;
    color: white;
    font-size: 12px;
    margin: 10px 0px 50px 70px;
}
.second-image {
    height: 30%;

}
.three-containers {
    height: 120vw;
    margin: 40px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 23px -8px rgba(66, 68, 90, 1);
}
.three-containers > h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 0px;
}
.three-containers > p {
    margin-top: 0;
    padding: 20px 35px 20px 35px;
    font-size: 14px;
    color: hsl(208, 11%, 55%);
}
.community {
    margin: 100px 10px -60px 10px;

    height: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    box-shadow: 0px 0px 23px -8px rgba(66, 68, 90, 1);
    border-radius: 15px;
    position: relative;
    background-color: white;
}
.get-started-second {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
    width: 60vw;
    background-color: hsl(322, 100%, 66%);
    border-radius: 30px;
    color: white;
    font-size: 12px;
    margin: 10px 0px 50px 0px;
    box-shadow: 0px 0px 23px -12px rgba(66, 68, 90, 1);
}
.community > h3 {
    margin-top: 50px;
    margin-bottom: 10px;
}
footer {
    background-color: hsl(192, 100%, 9%);
    border-radius: 1px;
    overflow: hidden;
}
#huddle-footer {
    height: 45%;
    width: 45%;
    margin-top: 120px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.info-container {
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding: 15px;

}
.info-container > p {
    color: white;
    margin-left: 28px;
    font-size: 16px;
}
ul {
    list-style: none;
    padding-left: 15px;
}
li {
    margin-top: 12px
}
a {
    text-decoration: none;
    color: white;
    text-align: left;
}
.socials {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
i {
    margin: 10px;
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
    font-size: 12px;
}
.get-started:hover, .get-started-second:hover {
    background-color: grey;
    transition: 0.2s ease-in;
}
.try-it:hover {
    background-color: grey;
    transition: 0.2s ease-out;
}
@media only screen and (min-width: 1400px) {
    nav {
        padding: 3vw; 
    }
    #huddle {
        height: 15%;
        width: 15%;
    }
    #first {
        height: 50vw;
        background-color: hsl(193, 100%, 96%);
        background-image: url(images/bg-hero-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .try-it {
        height: 50px;
        width: 200px;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .head {
        margin: 0px 50px 50px 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        height: 25vw;
        width: 58vw;


    }
    .head > p {
        font-size: 21px;
        margin: 0;
    }
    #chat {
        margin: 0px 100px 100px 100px;
    }
    h1 {
        font-size: 48px;
    }
    .get-started {
        border-radius: 50px;
        margin-top: 40px;
        height: 4vw;
        width: 16vw;
    }
    .get-started > p {
        font-size: 18px;
    }
    .three-containers {
        display: block;
        height: 30vw;
        margin: 40px 120px 40px 120px;
    }
    .first {
        margin-top: 180px;
    }
    .second-image {
        float: right;
    }
    .three-containers > h2 {
        position: relative;
        top: 200px;
        left: 150px;
        font-size: 32px;
        margin-bottom: 10px;
        text-align: left;
    }
    .three-containers > p {
        position: relative;
        padding: 0px;
        text-align: left;
        font-size: 18px;
        width: 520px;
        top: 200px;
        left: 150px;
    }
    .second-image {
        margin: 50px;
        height: 80%;
    }
    .left {
        float: left;
    }
    .second > p {
        width: 80%; 
    }
    .community {
        margin-top: 170px;

        margin-bottom: -100px;
        height: 16vw;
        margin-right: 450px;
        margin-left: 450px;
    }
    .get-started-second {
        margin-top: 20px;
        height: 25%;
        width: 40%;
        border-radius: 50px;
    }
    .community > h3 {
        font-size: 30px;
    }
    .get-started-second > p {
        font-size: 18px;
    }
    #huddle-footer {
        
    }

    .info {
        padding: 0px;
    }
    .info-container {
        padding: 0px 0px 0px 20px;
        width: 450px;
    }
    .info-container > p {
        font-size: 18px;
    }
    .all {
        margin: 100px 100px 0px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .copyright {
        padding: 50px;
        color: white;
        justify-content: right;
    }
}